# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Poetry
# НЕ В КОЕМ СЛУЧАЕ не добавляйте poetry.lock в игнор. Главное преимущество Poetry - фиксация окружения в lock-файле.
# И вы игнорируете это приемущество. Так, вы не можете гарантировать, что у пользователя будет установлено точно такое же окружение, как у вас
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log
logs/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/
.cache

# Data files
data/*.csv
data/*.xlsx
